[Unit]
Description=The lamp server
After=multi-user.target

[Service]
Type=idle
WorkingDirectory=/home/pi/git/leds
ExecStart=/usr/bin/python3 /home/pi/git/leds/leds.py > /home/pi/myscript.log

[Install]
WantedBy=multi-user.target
